    </div>
    <div class="ui inverted vertical footer segment">
      <div class="ui container">
          <div class="ui inverted divided equal height stackable grid">
              <div class="two wide column">
                <h4 class="ui inverted header">Navigation</h4>
                <div class="ui inverted link list">
                  <a href="/" class="item">Home</a>
                  <a href="/blogs/new" class="item">New Blog</a>
                </div>
              </div>
              <div class="two wide column">
                <h4 class="ui inverted header">About</h4>
                <a href="#" class="item">Contact Us</a>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>
