<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <title>Node-Blogs</title>
  </head>
  <body>
    <div id="navigation-bar" class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">
          <i class="icon terminal"></i>
          <i class="icon keyboard"></i>
          /  My Blog
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Blog</a>
      </div>
    </div>
    <div id="main-content" class="ui container">
