<% include ./partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">
    New Blog
    <form class="ui form" action="/blogs" method="POST">
      <div class="field required">
        <label>Title</label>
        <input type="text" name="blog[title]" placeholder="Title of Blog">
      </div>
      <div class="field required">
        <label>Content</label>
        <textarea name="blog[body]" rows="8" cols="80"></textarea>
      </div>
      <div class="field required">
        <label>Image</label>
        <input type="text" name="blog[image]" placeholder="Image URL">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
</div>

<% include ./partials/footer %>
