<% include ./partials/header %>

<div class="ui grid">
  <div class="six wide column">
      <a href="/blogs"><h4>Back</h4></a>
      <img class="ui large image" src="<%= blog.image%>" alt="Default campsite"/>
  </div>
  <div class="ten wide column">
    <h4 class="card-title"><%= blog.title %></h4>
    <p class="card-text"><%= blog.body %></p>
    <p><%= blog.created.toDateString() %></p>
  </div>
</div>

<% include ./partials/footer %>
